---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import SocialPill from "../components/SocialPill.astro";
import GitHubIcons from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import ContactIcon from "../icons/Contact.astro";
---

<Layout title="Maher's Portfolio - Web and Video Game Developer with +2 Years of Experience" description="Hire Maher, a skilled web and video game developer with over 2 years of experience in creating and maintaining websites. Based in the Canary Islands, Spain, Maher specializes in developing applications and solutions to meet diverse client needs.">	
	<main class="px-4">
		<SectionContainer class="py-44 pb-24" id="home">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center items-center flex-row gap-x-4 pb:6 lg:pb-10"><img class="rounded-full size-28" src="https://media.licdn.com/dms/image/v2/D4D03AQF_joIcQpcB3Q/profile-displayphoto-shrink_800_800/B4DZeIyp9pG8Ag-/0/1750346670318?e=1756339200&v=beta&t=5JXgRG1c-RV9Fq_CEy8Sftr5yQV-ImaVuD7Ayy0IthY" alt="Maher Hazem">Hey, I'm Maher <a class="flex justify-center items-center" href="https://www.linkedin.com/in/maher-hazem-mohammad-274576171/" target="_blank"><Badge>Available for work</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[800px]"><span class="opacity-80">+2 years of experience in website creation and maintenance.</span><span class="text-yellow-200/90"> Web and Video Game Developer.</span> From the Canary Islands, Spain 🇪🇸. Specialized in creating applications and solutions.</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/maher-hazem-mohammad-274576171/">
					<LinkedInIcon class="size-4 md:size-6"/>
					Linkedin
				</SocialPill>
				<SocialPill href="https://github.com/maherHazem">
					<GitHubIcons class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:maherhazem@hotmail.com">
					<MailIcon class="size-4 md:size-6"/>
					maherhazem@hotmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-8">
				<Briefcase class="inline-block size-6 mb-1"/>
				Experience
			</h2>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold mb-8">
				<Code class="inline-block size-6 mb-1"/>
				Projects
			</h2>
			<Projects/>
		</SectionContainer>
		<SectionContainer id="contact" class="pb-12">
			<h2 class="text-2xl font-semibold mb-8">
				<ContactIcon class="inline-block size-8 mb-1"/>
				Contact
			</h2>
			<p class="mb-4">Feel free to reach out to me via email or connect with me on LinkedIn. I am always open to discussing new projects, creative ideas, or opportunities to be part of your vision.</p>
			<div class="flex justify-center items-center">
				<SocialPill href="mailto:maherhazem@hotmail.com" class="bg-violet-700/60 text-white hover:text-black hover:bg-violet-400/60!">
					<MailIcon class="size-4 md:size-6"/>
					maherhazem@hotmail.com
				</SocialPill>
			</div>
		</SectionContainer>
		<Footer/>
	</main>
</Layout>
